@model List<Theatrum.Models.Models.PlaceModel>

  <button class="waves-effect waves-light btn" onclick="window.print();return false;"><i class="large material-icons">local_printshop</i> Надрукувати білети</button>

@foreach (var item in @Model)
{
  <p>Білет № @item.Id</p>
  <img style="margin-left: 10%" src="@($"data:image/png;base64,{Convert.ToBase64String(@item.QrCode)}")" />
  <p>Місце:⠀@item.PlaceId.Split('_')[1]</p>
  <p>Ряд:⠀@item.PlaceId.Split('_')[3]</p>
  
}
