@using Theatrum.Web.Razor.Helpers
@model Theatrum.Models.Models.AppUserModel

@{
  ViewData["Title"] = "User Office";
}


<div class="row accPage">
  <div id="change-info" class="col s12">
    <div class="input-field col s12">
      <i class="material-icons prefix">account_circle</i>
      <input value=@Model.UserName id="first_name" type="text" class="validate white-text">
      <label class="active" for="first_name">UserName</label>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">email</i>
      <input value=@Model.Email id="email" type="text" class="validate white-text">
      <label for="email">Email</label>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">date_range</i>
      <input value=@Model.RegistrationDate id="date" type="text" class="datepicker white-text">
      <label for="date">RegistrationDate</label>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">date_range</i>
      <input value=@Model.BirthdayDate id="date" type="text" class="datepicker white-text">
      <label for="date">BirthdayDate</label>
    </div>
    <div>
      <button type="button" class="btn btn-large waves-effect waves-light" onclick="saveChanges()">Save changes</button>
    </div>
  </div>
</div>
<script>
  function addChanges() {
    document.getElementById("info").classList.add("no-display");
    document.getElementById("change-info").classList.remove("no-display");

  }
</script>

<script>
  function saveChanges() {
    document.getElementById("info").classList.remove("no-display");
    document.getElementById("change-info").classList.add("no-display");

  }
</script>

