@using Microsoft.AspNetCore.Identity
@using Theatrum.Entities.Entities
@using Theatrum.Utils
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole(Roles.Admin))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Theatrs" asp-action="TheatrsForAdmin">Theatrs</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Theatrs" asp-action="TheatrsForUser">Theatrs</a>
        </li>
    }

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
    </li>
}
else
{

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
