@model LoginViewModel


@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<h1 class="center white-text">Sign in</h1>

<form class="col s12 l4 offset-l4" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <div class="row">
        <div class="input-field col s12 white-text">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 white-text">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">
        Submit
        <i class="material-icons right">send</i>
    </button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
